# Ignore Vivado generated/project files
.Xil/
ALU.cache/
ALU.hw/
ALU.ip_user_files/
ALU.runs/
ALU.sim/
ALU.srcs/
ALU.xpr
vivado.jou
vivado.log
*.str
*.backup.*

# Keep the clean source/result folders
!src/
!src/*.v

!results/
!results/*.jpg
!results/*.jpeg
!results/*.png

# Keep repository files
!README.md
!LICENSE
!.gitignore